.button {
    border-radius: 0.188em;
    font-size: 0.875em;
    padding: .688em 1.071em .688em;
    font-weight: 700;
    vertical-align: top;
    background: #0088c7;
    border: 0;
    color: #FFF;
    cursor: pointer;
}

.inline-block {
    margin: 20px;
    display: inline-block;
}

.left {
    float: left;
}

.right {
    float: right;
}