.input {
    background-color: #FFF;
    height: 30px;
    width: 214px;
    padding: 0;
    font-size: 14px;
    color: #5D7B8A;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin: 0;
    text-indent: 5px;
}

.input:focus {
    outline: none;
    border: 1px solid #0099E0;
    border-radius: 3px;
}

::placeholder {
    color: lightgray;
}