.room-nights * {
  display: inline-block;
  float: left;
}

.room-nights .field {
  width: 22%;
  margin: 1%;
}

.room-nights h4 {
  margin: 1%;
  padding: 5px;
}

.room-nights .input {
  width: 70%;
}

.room-nights .label {
    padding: 5px;
}

.room-nights {
  display: flex;
  width: 100%;
  margin: auto;
  float: left;
  justify-content: center;
}

.room-night-container {
  margin: 0;
}