.divider {
    border: 1px solid #ccc;
    width: fit-content;
    margin: 10px 17px;
    background: white;
    vertical-align: top;
    border-radius: 3px;
    padding: 0 0 5px 0;
}

.big-div {
    border: none;
    margin: 0;
    width: 50%;
    float: left;
}

.inline-block * {
    display: inline-block;
    margin: 10px 20px;
    vertical-align: middle;
}

.divider.generic {
    width: 18%;
}

.divider.super {
    width: 36%;
}

.divider.search-header {
    display: inline-block;
    width: 98%;
    border: none;
    padding: 0;
    margin: 0px 1.1%;
}

.inline-block.left {
    padding: 0;
}