.backdrop {
    position: 'fixed';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backgroundColor: 'rgba(0,0,0,0.3)';
    padding: 50;
}

.modal {
    backgroundColor: '#fff';
    borderRadius: 5;
    maxWidth: 500;
    minHeight: 300;
    margin: '0 auto';
    padding: 30
}

.modal > header {
    background: #0088c7;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    padding: 0 0rem;
    min-height: 50px;
    font-weight: 700;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal > span {
    margin: 10px;
    display: inline-block;

}

.modal > header > span {
    color: #FFFFFF;
    margin-left: 10px;
}

.footer > button {
    color: #FFFFFF;
    margin-right: 10px;
    float: right;
    border-radius: 0.188em;
    font-size: 0.875em;
    padding: .688em 1.071em .688em;
    font-weight: 700;
    vertical-align: top;
    background: #0088c7;
    border: 0;
    cursor: pointer;
}