.surrounding-div {
    width: 98%;
    background: #F4F8F9;
    margin: auto;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    min-width: 1200px;
}

.line-div {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 97%;
    border-top: 1px solid #CAD0D3;
}

.surrounding-div .divider {
    display: inline-block;
}

.top-div {
    width: 99%;
    margin: auto;
}